/*Fonts*/
@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura-Medium.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('/wp-content/themes/emagid/assets/fonts/futura/Futura-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('/wp-content/themes/emagid/assets/fonts/futura/Futura-Bold.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('assets/fonts/frutiger/FrutigerLTStd-bLACK.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('/wp-content/themes/emagid/assets/fonts/frutiger/FrutigerLTStd-Bold.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Frutiger';
  src: url('/wp-content/themes/emagid/assets/fonts/frutiger/FrutigerLTStd-Italic.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}




body {
  background-color: white;
  padding-top: 0 auto;
  color: #2b2b2b;
  margin: 0;
  font-family: 'frutiger', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'frutiger', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
    margin: 0;
    line-height: 2em;
}

h2 {
  margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;
}

p {
  line-height: 1.5;
    font-size: 18px;
    font-family: 'frutiger', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
    color:#757575;
}
a, button {
    font-family: 'frutiger', sans-serif;
    font-weight: 100;
}
body.page-id-6 .content_inner a{
    color:#EABB65;
}

.button.inverse {
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  font-size: 10px;
  /*width: 175px;*/
}

.button.inverse:hover {
  background-color: transparent;
}
#hidden {
    display: none;
}


/*  ==========  HEADER  =============*/
header {
	text-transform: uppercase;
	font-family: 'frutiger', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 30px;
    height: 20px;
    border-bottom: 1px solid #e0e0e0;
}

header .logo {
  color: #1e182b;
  font-weight: bold;
  font-size: 16px;
}

header nav {
  position: absolute;
  right: 135px;
  margin-top: -20px;
}

header nav a {
  font-weight: normal;
  margin-right: 30px;
  color: #1e182b;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 28px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
}

header nav a:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #EABB65;
}

header nav a:last-child {
  margin-right: 0;
}

#hamburger {
    position: absolute;
    right: 50px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 22px;
}

.hamburger_line {
    width: 31px;
    background-color: #1e182b;
    margin: 7px 0;
    height: 3px;
    border-radius: 5px;
    transition: 0.4s;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.dropdown {
  position: fixed;
  top: 81px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  display: none;
}

.flex {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.dropdown a {
  color: white;
  margin-bottom: 20px;
    
}
.dropdown ul li {
    margin-bottom: 20px;
    text-align: center;
}
nav ul.menu li {
  display: inline-block;
  margin-right: 30px;
}
ul#menu-primary-menu-2 {
text-align: center;
}
footer ul.menu li {
  text-transform: uppercase;
  font-family: 'frutiger', sans-serif;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 0.5px;
}

/*  ==========  HEADER END  =============*/




/*  ==========  HOME HERO SECTION  =============*/
.hero {
  height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
    text-align: center;
}


.hero .overlay {
/*    background: rgba(247, 247, 247, 1);*/
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero h1 {
  font-size: 48px;
    color: black;
    letter-spacing: 2px;
}

.hero p {
  font-size: 20px;
    color:black;
    width: 95%;
    margin: 0 auto;
    max-width: 650px;
}

.hero a.button {
    /* bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 150px; */
}

.home_hero {
  border-bottom: 1px solid #eaeaea;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #f7f7f7;
}

.home_hero .button {
  margin-top: 10px;
}


.moveUp {
  margin-top: 130px;
}
/*  ==========  HOME HERO SECTION END =============*/




/*  ==========  CLIENT LOGO SECTION =============*/
.client_logos {
  background-color: white;
  padding: 150px 75px;
  /*border-bottom: 1px solid #eaeaea;*/
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.client_logos > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  margin-bottom: 0;
}

.client_logos .button {
  margin-top: 20px;
}

.client_logos p {
  margin-top: 0;
}

.logos a {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  /*background: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.logos a img {
  max-height: 120px;
  width: 100%;
  box-shadow: 0px 0px 15px #00000021;
}

.logos a .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #684d94;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;

}

.logos a .overlay p {
  font-weight: bold;
  color: white;
  font-family: 'frutiger', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
/*  ==========  CLIENT LOGO SECTION =============*/

/*  ==========  MEMBERSHIP SECTION =============*/
.slick-dotted.slick-slider{
  margin-top: 30px;
}
.slick-dots li button:before{
  color: #EABB65 !important;
}
.slick-slide {
  margin-bottom: 30px;
}

@media ( min-width: 1499px ) {
  .slider-content, section#membership p, #membership{
    margin: 0 auto;
    max-width: 1359px;
  }
}
@media ( min-width: 2500px ) {
  .home_hero{
    margin: 0 auto;
    max-width: 2000px;
  }
  header{
    border-bottom: none;
  }
}

section#membership h2{
  text-align: center;
  margin-bottom: 0px;
  font-size: 20px;
}

section#membership h2 span{
  border-bottom: 2px solid #EABB65;
  padding-bottom: 6px;
}

#membership {
  margin-top: 50px;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 60px;
}

.membership {
  padding: 150px 100px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background-color: #f7f7f7;
}

.membership {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.membership_text {
  padding-left: 40px;
  width: 50%;
    margin-right: 0;
    margin-left: auto;
}

.membership_text p {
  margin-right: 50px;
  margin-bottom: 30px;
}


.membership img {
  /* width: 100%;
  box-shadow: 0px 0px 15px #00000021;
  border-radius: 100%; */
  height: 150px;
}

.slick-slide {
  background: white;
  border: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bio .auto_center {
  margin: 0 auto;
  width: 800px;
}

.bio p {
  margin: 0 auto;
  width: 800px;
}

@media ( max-width: 1100px ) {
  .bio .auto_center {
    margin: 0 auto;
    width: 100%;
  }
  
  .bio p {
    margin: 0 auto;
    width: 100%;
  }
}

@media ( max-width: 925px ) {
  #case_studies_p {
    font-size: .9em;
  }
}

/*  ==========  MEMBERSHIP US SECTION END =============*/


.button {
	background-color: transparent;
    border:1px solid #EABB65;
	color: #EABB65 !important;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
}

.button:hover {
  background-color: #2b2b2b;
    border-color: #2b2b2b;
  cursor: pointer;
}

.navbar {
	margin-bottom: 0;
	border: none;
  	text-transform: uppercase;
  	padding: 10px;
  	padding-bottom: 0;
  	color: black;
}

.navbar-brand {
	padding: 0 15px;

}

.navbar li a, .navbar .navbar-brand {
	color: black;
}

.navbar-nav li a:hover {
	border-bottom: 3px solid #fff;
	background-color: none;
}


.navbar-reverse .navbar-toggle {
	border-color: transparent;
}

.active {
    border-bottom: 2px solid black;
    color:black !important;
    background-color: none !important;
}


#container {
	position: relative;
	width: 100%;
	padding: 0px;
}

#portfolio-section {
	background-color: #f2f2f2 !important;
}

#section1 {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}



/*Circle Pie Chart style*/
.circle_wrapper {
    position: relative;
    width:336px;
    height:225px;
}

.circle_wrapper img {
    display: block;
    width: 336px;
    height: 225px;
}

/* Masks */
.circle_wrapper > div[class^='mask'] {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

.mask_left {
    left: 0;
    right: 50%;
}

.mask_right {
    left: 50%;
    right: 0;
}

/* Pseudo elements in masks */
.circle_wrapper > div[class^='mask']::before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mask_left::before {
    animation: leftHalf 2s 0s 1 linear forwards;
    transform-origin: 100% 50%; /* center right */
}
.mask_right::before {
    animation: rightHalf 2s 0s 1 linear forwards;
    transform-origin: 0% 50%; /* center left */
}

@keyframes leftHalf {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}
@keyframes rightHalf {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

.img pie-image {
	height="225";
	padding-top: 10px;
	margin-bottom: 0;
}



.portfolio-img {
	background: #f2f2f2 !important;
	padding-bottom: 40px;
	/*padding: 50px;*/
	/*margin-left: 15px;*/
	/*padding: 40px;*/
	/*padding-left: 50px;*/
}

.portfolio-img img {
	/*padding: 5px;*/
}

#services {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}

.services {
	padding-top: 50px
}

.caption {
	text-align: center;
}

#growth {
	margin-left: 15px;
	padding: 35px;
	padding-left: 50px;	
}

#growth button {
	display: block;
	margin: 0 auto;
	margin-top: 50px; 
}


.flex-container {
	padding: .5vw;
  font-size: 0;
  
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  
  display: flex;
}

.flex-container div {
	-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

.flex-container div img {
	width: 75%;
}








/*OUR TEAM STYLE*/
.team-list #info .button {
	position: absolute;
	width: 500px;
	left:0;
	right:0;
	top: 350px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
}

.team-list #info .button a {
  width: 200px;
  padding: 12px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.team-list #info:hover .button {
  opacity: 1;
}

/*Individual Team Page Style*/
#sectionline hr {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#profSection {
	background-color: #f2f2f2;
	width: 100%;
}

#profSection .header {
	padding: 50px;
	margin: 50px;
}

#profSection .profile img {
	margin-top: 50px
}

blockquote {
	margin-top: 10px;
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    position: relative;

}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    position:absolute;
    top:30px;
    left: 7px;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    position:absolute;
    top:30px; right: 5px;
}

blockquote p {
	margin-top: 15px;
	padding: 15px;
}

.about {
	margin-left: 50px;
	padding: 45px;
	padding-left: 75px; 
}

.about .header {
	padding-bottom: 10px;
}

.navbar-brand{
	font-family: 'frutiger', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar #rreMenu li a {
    font-family: 'frutiger', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    font-family: 'frutiger', sans-serif;
    font-weight: 600;
    font-style: normal;
}

#container button {
	font-family: 'frutiger', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*PORTFOLIO STYLE*/
#portfolio {
	background-color: #684d94;
	padding-top: 0;
}
/*Symbol image */
#portfolio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

#certify img {
	margin-left: 75px;
}

#certify .header {
	padding: 175px;
	margin-left: 45px;
}

#story {
	margin-left: 75px;
	padding: 50px;
}

#story .header {
	padding-bottom: 20px;
}





/*  ============  MEDIA QUERIES  ===============*/
@media ( max-width: 1100px ) {
  .updates {
    width: 100%;
    text-align: center;
  }

  .footer_holder {
    flex-wrap: wrap;
    position: initial;
  }

  .news, .updates {
    margin-right: 0 !important; 
  }

  .left_center {
    width: max-content !important;
    margin-top: 30px;
  }


}


@media ( max-width: 1000px ) {

  .client_logos {
    padding: 100px 30px;
  }

  .client_logos > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .client_logos .logos {
    margin-right: 0;
  }

  .client_logos h2 {
    text-align: center;
  }

  .logos {
    justify-content: center;
  }

  .logos a {
    margin: 10px;
  }

  .growth {
    flex-wrap: wrap;
  }

  .growth div {
    width: 100%;
    margin-bottom: 50px;
  }

  .growth div:last-child {
    text-align: center;
    margin-bottom: 0;
  }

  .growth div img {
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    max-width: 320px;
  }

  .view_more {
    display: block;
    text-align: center;
  }

  .membership {
    flex-wrap: wrap;
    /* margin-bottom: 300px; */
  }

  .about_text {
    padding-left: 0;
    width: 100%;
  }
    footer ul.menu li {
        display: block;
        margin: 0 auto 15px;
    }

  .float_right_img {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: -300px;
    top: auto;
  }
}

@media ( max-width: 900px ) {
  .home_hero .text_box {
    margin-top: -157px;
      margin-bottom: 0;
  }
    .hero h1 {
        line-height: 1.5em;
    }

  .circle_wrapper {
    width: 50% !important;
  }

  .circle_logo {
    width: 300px !important;
  }

  .moveUp {
    margin-top: 150px;
  }

  .portfolio img {
    max-height: 80px;
  }

  .portfolio a {
    height: 150px;
    width: 150px;
  }

  .portfolio {
    padding: 100px 15px;
  }

}

@media ( max-width: 900px ) {
  #contact_hero_text{
    margin-top: 0px;
  }
}

@media ( max-width: 800px ) {
  header nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .text_box {
    padding: 0 30px;
    text-align: center;
    width: 100%;
    margin-left: 0 !important;
  }

  .membership {
    padding: 60px 30px;
  }

  @media (max-width: 1000px){
    .membership{
      margin-bottom: 20px;
      padding-bottom: 25px;
    }
  }

  .hero {
      height:350px;
  }
  .home_hero {
      height:550px;
  }

  .membership {
    text-align: center;
  }

  .membership_text p {
    margin-right: 0;
  }

  .footer_holder > div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff4d;
  }

  .footer_holder > div:last-child {
    border-bottom: none;
  }

}



@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header {
      height: 8px;
    }

    header .logo {
      left: 20px;
      top: 26px;
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }

    .home_hero h1 {
      font-size: 33px;
    }

    .home_hero p {
      font-size: 20px;
    }

    #hamburger {
      right: 23px;
      top: 17px;
      transform: scale(.7);
    }

    .circle_wrapper {
      width: 70% !important;
    }

    .circle_logo {
      width: 200px !important;
      height: 200px !important;
    }

    .person_hero, .about_hero {
      height: 315px;
    }

    .dropdown {
      top: 69px;
    }

    .portfolio {
      width: 90%;
    }

    .portfolio a {
      height: 124px;
      width: 124px;
    }

    .portfolio img {
      max-height: 65px;
    }

    .logos a {
      height: 106px;
      width: 106px;
    }

    .technology {
      text-align: center;
    }


}


    /*  ==========  BIO SECTION FRONT PAGE  =============*/

.image-wrapper {
  box-sizing:border-box;
  float: left;
  margin-bottom:5px;
  width: 50%;
  height: 100%;
}

.image-wrapper > img {
  width: 100%; 
  height: 100%;
}


.image-wrapper > span {
  display: inline-block;
  width: 100%;
}

.bottom_row{
  margin-bottom: 120px;
}

@media ( min-width: 801px ) {

  .iw-1{
    margin-left: -13px;
  }

  .iw-1, .iw-4{
    width: 60%;
  }
  .iw-2, .iw-3{
    width: 40%;
  }
  .iw-1, .iw-2{
    padding-bottom: 50px;
  }
  .bio {
    margin: 0 auto;
    max-width: 1359px;
  }
}

@media ( max-width: 800px ) {
  .bottom_row{
    margin-bottom: 60px;
  }
  .bottom_row_left{
    margin-bottom: 5px;
  }
  .image-wrapper {
    float: none;
    width: 94%;
  }
}  

@media ( max-width: 746px ) {
  .image-wrapper {
    float: none;
    width: 100%;
  }
}  


.content {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}


.content-details {
  position: absolute;
  text-align: center;
    cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details button{
  background-color: transparent;
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color .3s;
    outline:0;
    cursor: pointer;
}
.cta_button {
  text-align: center;
  margin-bottom: 120px;
}

@media(max-width: 800px){
  .cta_button {
    margin-bottom: 60px;
  } 
}
/*  ==========  BIO SECTION END  =============*/

/* HERO */

.text_box, .image_box {
  width: 50%;
  height: 100%;
}

.text_box{
  text-align: left;
}

.image_box{
}

.text_box .inner{
  width: 50%;
  margin: 0 auto;
  margin-left: 35%;
}

.image_box .inner{
  width: 50%;
  height: 100%;
  margin-left: 20%;
}

.image_box .inner img {
  height: 75%;
  margin-top: 70px;
}

.hero .text_box h1 {
  margin-top: 100px;
  line-height: initial;
  margin-bottom: 30px;
}

.hero .text_box p {
  margin-bottom: 30px;
  margin-left: initial;
  font-size: 22px;
  white-space: nowrap;
}

@media(max-width: 1300px) and (min-width: 900px){
  .text_box .inner{
    width: 50%;
    margin: 0 auto;
    margin-left: 20%;
  }
  .image_box .inner{
    margin-left: 10%;
  }
}

@media(max-width: 899px){
  .home_hero#desktop_version {display: none !important;}
  .home_hero#mobile_version {display: block !important;}

  #mobile_version .whole_box {
    padding-top: 25px;
  }

  .whole_box h1{
    font-size: 40px !important;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .whole_box p{
    white-space: nowrap;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .whole_box a {
    margin-bottom: 30px;
  }

  .whole_box img {
    width: 185px;
  }
}

@media(max-width: 385px){
  .whole_box p{
    font-size: 15px;
  }
}

/* END HERO */
/* INNER PAGE */

.content_inner {
  width: 80%;
  margin: 0 auto;
  margin-top: 115px;
  margin-bottom: 115px;
}
/* END INNER PAGE */

/* HOME PAGE */

.content_home{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 215px;
  margin-bottom: 215px;
}
.content_home a {
  text-align: center;
}
@media(max-width: 1000px){
  .content_home{
    margin-top: 105px;
    margin-bottom: 105px;
  }
}

/* END HOME PAGE */

/*  ==========  FOOTER =============*/

footer {
	text-transform: uppercase;
	font-family: 'frutiger', sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 40px 0;
  margin: 0;
}

footer .logo {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  margin-top: 40px;
  left: 165px;
}


footer nav a {
  font-weight: normal;
  margin-right: 30px;
  color: #1e182b;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
}

footer nav a:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #EABB65;
}

footer nav a:last-child {
  margin-right: 0;
}

nav ul.menu li {
    display: inline-block;
    margin-right: 30px;
}
ul#menu-primary-menu-2 {
  text-align: center;
}

nav.social {
  margin-top: 20px;
    margin-bottom: 20px;
}

nav .social img {

}
.newsletter p {
   font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
    color:#fff;
}
.links a {
  display: block;
  color: white;
  margin-bottom: 13px;
  font-size: 15px;
  transition: color .3s;
}
.links a:hover {
  color: lightgrey;
}

@media ( max-width: 1000px ) {
  footer nav {
    position: relative;
    right: -12px;
    margin-top: 0px;
  }
  nav.social {
    margin-top: 0px;
    right: 0px;
    width: initial;
    background: black;
  }
  footer .logo {
    position: relative;
    left: 0;
    margin-top: 0;
    top: 150px;
  }
  .links a{
    font-size: 12px;
  }
}


/*  ==========  FOOTER END =============*/
@media(max-width: 550px){
  .error_page div h1{
    font-size: 170px !important;
  }
  
  .error_page .tagline{
    font-size: 25px !important;
  }
}







/*  ==========  BLOG PAGE  =============*/



/*  ==========  BLOG PAGE  =============*/
    .blog_container {
        width: 90% !important;
        margin: 0 auto;
        padding-bottom: 0 !important;
        float: none;
    }

.blog h1.page-title {
    text-align: center;
    
    
}
.blog main#main {
    overflow: hidden;
    padding-bottom: 100px;
}
.blog aside#secondary{
    display: none;
}
.blog article {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 27.3%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    height: 410px;
    
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog article header {
    height: auto !important;
    padding-left: 0;
}
/*
.blog {
    padding: 0;
    height: auto;
    text-align: center;
}
*/
.blog .entry-meta {
    display: none;
}
.blog h2.entry-title {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
}
.blog h2.entry-title a {
    color:#2b2b2b;
}
nav.navigation.post-navigation {
    display: none;
}
.blog .entry-content {
    width: 90%;
    margin: 0 auto;
}
.blog article {
    text-align: center;
}
.blog article img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 20px auto;
}
footer.entry-footer {
    display: none;
}
.single-post header.entry-header {
    height: auto !important;
    padding-left: 0;
}
.single-post .text_box .inner {
    margin-left:10%;
    width: 90%;
}
h2.comments-title {
    font-size: 20px;
    line-height: 1.25em;
}
ol.comment-list {
    padding-left: 0;
}
.single-post h1.entry-title {
    margin-bottom: 10px;
    display: none;
}
.single-post article {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.single-post .post-thumbnail img {
    max-width: 70%;
    margin: 25px auto;
    height: auto !important;
}
.single-post .entry-content img {
    width: 100%;
    max-width: 600px !important;
    height: auto !important;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer.comment-meta {
    display: none;
}
.single-post div#comments {
    margin-top:50px;
    margin-bottom: 50px;
    background-color: #F7F7F7;
    padding: 50px;
}
.single-post div#comments label {
    display: block;
}
.single-post p.comment-form-comment {
    margin-top: 30px;
}
.single-post div#comments p.form-submit input[type=submit] {
    background-color: transparent;
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color .3s;
    display: block;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
    width: 200px;
    border: 1px solid #EABB65;
    color: #EABB65 !important;
}



/*  ==========  PRESS PAGE  =============*/

section.press_links {
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.press {
    width: 29.3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 50px;
    float: left;
    text-align: center;
    background: #f7f7f7;
    padding: 10px 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}
.press h3 {
    color:#000;
    line-height: 1.35em;
    margin-bottom: 10px;
    font-size: 16px;
    height: 90px;
}
.press img {
    height: 200px;
    width: 100%;
}


/*  ==========  CONTACT PAGE  =============*/

/* .content_inner {
  padding: 100px;
} */
.content_inner .form input.wpcf7-form-control.wpcf7-submit{
        background-color: #684d94;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color .3s;
    text-transform: uppercase;
}
.content_inner .form input[type=text],
.content_inner .form input[type=email]{
    padding: 10px;
    background: transparent;
    border: 1px solid #1e182b;
    outline: none;
    width: 90%;
}
.content_inner .form textarea {
    padding: 10px;
    background: transparent;
    border: 1px solid #1e182b;
    outline: none;
    width: 90%;
}
.content_inner .form {
    overflow: hidden;
}
.content_inner .form .form_left {
    width: 35%;
    float: left;
}
.content_inner .form .form_right {
    width: 60%;
    margin-left: 5%;
    float: left;
}

/* new */

#wpcf7-f30-o2 {
  margin: 0 auto;
  width: 800px;
}

.wpcf7-text, .wpcf7-textarea {
  width: 50%;
  border-radius: 1px;
  border: 1px solid black;
}
.newsletter .wpcf7-text {
    max-width: 300px;
    max-height: 40px;
}
.newsletter .wpcf7-submit {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 11px;
    
}

.wpcf7-text, .wpcf7-textarea {
  height: 50px;
  padding-left: 10px;
  font-family: 'proxima_novaregular', sans-serif;
}

.wpcf7-submit{
  background-color: transparent;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
  margin: 50px auto;
  display: block;
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
  width: 200px;
  border: 1px solid #EABB65;
  color: #EABB65 !important;
}

.wpcf7-submit:hover {
  background-color: #2b2b2b;
  color: #fff;
  border-color: #2b2b2b;
  cursor: pointer;
}

@media ( max-width: 1220px ) {
  #wpcf7-f30-o2 {
    width: 100%;
  }
  .wpcf7-text, .wpcf7-textarea {
    width: 75%;
  }
}


#wpcf7-f30-o2 p {text-align: center;}
textarea[name="your-message"]::-webkit-input-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]::-moz-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]:-ms-input-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]:-moz-placeholder{padding-top: 18px; font-size: 13px;}

.page-id-172 .content_inner {
  text-align: center;
}

@media(max-width: 600px){
  .wpcf7-form{
    min-width: 365px;
  }
  .page-id-172 .content_inner {
    padding: 0px;
  }
    .single-post article {
        width: 100%;
    }
    .press {
        margin: 0 auto 30px;
        width: 90%;
        float: none;
    }
}

@media(max-width: 376px){
  .page-id-172 .content_inner {
    margin-left: -5%;
  }
}
@media(max-width: 320px){
  .page-id-172 .content_inner {
    margin-left: -13%;
  }
  .page-id-172 .content_inner h2 {
    margin-left: 25px;
  }
}
/*  ==========  CONTACT PAGE END  =============*/

/*  ==========  HOBBIES PAGE END  =============*/

.hobbies {text-align: center;
    overflow: hidden;
}
    
.hobbies .row {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hobbies .row img{
  width: 30%;
    float: left;
}
.hobbies .row div.para  {
    width: 70%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hobbies .row div.para.right_element {
    float: right;
}
.hobbies .row img.right_element {
    float: right;
}
.hobbies .row div.para  p{
    width: 90%; 
    margin:0 auto;
    font-size:  18px;
}

@media(max-width: 1399px){
/*
  .hobbies .row div.para  {
    
      padding: 10%;
    }
*/
    
}


@media(min-width: 1400px){
  .hobbies {
    width: 1214px;
    margin: 0 auto; 
  }
  .hobbies .row {
  
  }
  
  .hobbies .row img{
    width: 607px;
    height: 460px;
  }
  
  .hobbies .row div.para  {
    width: 607px;
    height: 460px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .hobbies .float_me{
    float: right;
  }
}
/*  ========== HOBBIES PAGE END  =============*/
@media screen and (max-width:850px) {
    .blog article {
        margin: 0 auto;
        float: none;
        width: 100%;
        
    }
}

@media screen and (max-width:550px) {
    .single-post div#comments {
        padding: 0;
    }
    .hobbies .row {
        display: block;
    }
    .hobbies .row img{
  width: 95%;
    float: none;
        margin: 0 auto;
}
.hobbies .row div.para  {
    width: 100%;
    float: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hobbies .row div.para.right_element {
    float: none;
}
    
.hobbies .row img.right_element {
    float: none;
}
    .newsletter .wpcf7-submit {
    display: block;
        width: 80%;
        margin: 0 auto;
        max-width: 300px;
    
}
}